{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="border border-2 rounded p-4">
        <h5 class="text-center bold">Iniciar sesión</h5>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="mb-2">
            <label for="{{form.username.id_for_label}}" class="form-label">Contraseña actual:</label>
            {{form.old_password}}
        </div>
            <div class="mb-2">
            <label for="{{form.username.id_for_label}}" class="form-label">Contraseña nueva:</label>
            {{form.new_password1}}
        </div>
        <div class="mb-3">            
            <label for="{{form.password.id_for_label}}" class="form-label">Confirmar contraseña nueva:</label>
            {{form.new_password2}}
        </div>
        <div class="mb-2">            
            <input type="submit" value="Cambiar contraseña" class="btn btn-outline-dark">
</div>
<div class="mb-3">            
            {% if form.errors %}
            {% for f in form.errors %}
            {{f}}
            {% endfor %}
            <p>Uno de los campos es incorrecto.</p>
            {% endif %}
</div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
let inp = document.querySelectorAll('input');
inp.forEach(element => {
   element.classList.add('form-control') ;
});
</script>
{% endblock %}