<!-- <button type="button" class="btn btn-outline-primary" onclick="showSearchForm()" id="lupa"><i
    class="bi bi-search"></i></button> -->
<!-- <form method="GET" class="position-absolute top-50 start-50 translate-middle bg-light p-5 w-25 border border-warning shadow z-3 d-flex flex-column justify-content-center d-none" id="search-form">  -->
<form method="GET" class="d-flex gap-1" id="search-form"> 
        <input type="text" name="fields" class="form-control form-control-sm" placeholder="Trabajador, nombre, ip & inv">
        <input type="submit" value="Buscar" name="buscar" class="btn btn-outline-primary btn-sm">
    </form>
<!-- position-absolute top-50 start-50 translate-middle bg-light p-5 w-50 border border-warning z-3 -->