{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-12 col-sm-4 offset-sm-4 fform">
    <form method="post">
        <div class="d-flex mb-3">
            <a href="{% url 'entidades:index' %}" class="btn-close" title="Atras"></a>
        </div>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            <label for="{{form.nombre.id_for_label}}" class="form-label">{{form.nombre.label}}:</label>
            {{form.nombre}}
        </div>
        <div class="d-flex justify-content-center">
            <input type="submit" value="Guardar" name="save" class="btn btn-outline-secondary">
        </div>
    </form>
</div>
{% endblock %}