{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-end">
    {% include "includes/computadoras/pagination.html" with objs=l_trabs %}
</div>

<div class="row">
    <div class="col-12 col-sm-8 col-md-6 mx-auto">
        <table class="table table-bordered table-sm text-center ent-body">
            <caption class="caption-top py-0 my-3">
                <div class="d-flex justify-content-between align-items-center">
                    <span>Trabajadores:&ThinSpace;<span id="filtered"></span>{{l_trabs.count}}</span>
                    {% include 'includes/computadoras/search.html' with placeholder="Nombre del trabajador" %}
                </div>
            </caption>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Área</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody id="comps">
                {% for i in l_trabs %}
                <tr class="fel">
                    <td>{{i.nombre}}</td>
                    <td>{{i.area}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-primary btn-sm" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu p-2 opt">
                                <li>
                                    <a class="dropdown-item" href="{% url 'entidades:updT' i.pk %}"
                                        title="Editar trabajador"><i class="bi bi-pencil-square"></i>
                                        <span>Editar trabajador</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'entidades:dele' i.pk 3 %}"
                                        title="Borrar trabajador"><i class="bi bi-trash"></i>
                                        <span>Eliminar trabajador</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'computadoras:verC' i.pk %}"
                                        title="Ver computadora"><i class="bi bi-pc-display"></i>
                                        <span>Ver computadora</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
{% block script %}
<script src="{% static 'computadoras/js/pagination.js' %}"></script>
<script src="{% static 'computadoras/js/search_trab.js' %}"></script>
{% endblock %}